
<%#= image_tag("books.jpg") %>
<style>

    body {
        background-color: #eaceb6;
        background-size: cover;
        background-position: center;
    }
    /* Заголовок */
    .header-title {
        color: orange;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    /* Навигационная панель */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #50463d;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .navbar-links {
        display: flex;
        gap: 20px;
    }

    .navbar-links a {
        color: white;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .navbar-links a:hover {
        background-color: #0056b3;  /* цвет при наведении */
    }

    .navbar-links a.login-button {
        color: white;
        padding: 5px 10px; /* отступы для кнопки */
        border-radius: 5px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .navbar-links a.login-button:hover {
        background-color: #0056b3; /* цвет при наведении */
    }

    /* Стили для основного контейнера статей */
    /*.articles {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }*/

    /* Стили для статей */
    /*.article-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }*/

    /*.article-title,
    .article-body,
    .article-actions {
        margin: 0 10px;
        flex: 1;
        text-align: center;
    }

    .article-actions {
        display: flex;
        gap: 10px;
        justify-content: center;
    }*/

    .btn {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.2s;
    }

    .btn-show {
        background-color: #8b4513; /* Коричневый */
        color: white;
    }

    .btn-edit {
        background-color: #8b4513; /* Коричневый */
        color: white;
    }

    .btn-delete {
        background-color: #f8173e; /* Красный */
        color: white;
    }

    .btn:hover {
        transform: scale(1.05);
    }

    .btn-show:hover {
        background-color: #1e88e5; /* Темно-зеленый при наведении */
    }

    .btn-edit:hover {
        background-color: #1e88e5; /* Темно-синий при наведении */
    }

    .btn-delete:hover {
        background-color: #d32f2f; /* Темно-красный при наведении */
    }

    td {
        padding: 10px; /* Отступы внутри ячеек */
        text-align: left; /* Выравнивание текста по левому краю */
    }

    .article-title {
        font-weight: bold; /* Жирный шрифт для заголовка статьи */
        font-size: 18px; /* Размер шрифта для заголовка */
        font-family: Arial, sans-serif;
        color: #333; /* Цвет текста */
    }

    .article-author {
        font-style: italic; /* Курсив для имени автора */
        color: #555; /* Цвет текста для автора */
    }

    /* Добавление эффекта при наведении на строку таблицы */
    tr:hover td {
        background-color: #f0f0f0; /* Цвет фона при наведении */
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .articles {
        /* Стиль для левой колонки */
    }

    .news-feed {
        /* Стиль для правой колонки */
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .articles,
    .news-feed {
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f5f5; /* Цвет фона для колонок */
    }

    /* Адаптивность */
    @media (max-width: 768px) {
        .container {
            grid-template-columns: 1fr;
        }
    }

    .news-feed {
        /* Стиль для правой колонки */
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        /*max-height: 200px; !* Установите желаемую максимальную высоту *!*/
        /*overflow-y: auto; !* Добавляем вертикальную прокрутку *!*/
    }

    .article-section-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #333;
    }

    .btn-primary {
        background-color: #4CAF50; /* Салатовый */
        color: white;
    }

    .btn-primary:hover {
        background-color: #3C763D; /* Темно-зеленый */
    }

    footer {
        background-color: #50463d;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .about {
        text-align: center;
        font-family: Arial, sans-serif;
        padding: 50px;
        background-color: #f5f5f5;
    }

    .about p {
        max-width: 600px;
        margin: 0 auto;
    }

    .review {
        background-color: #e0e0e0;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .review p:first-child {
        font-style: italic;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .review {
        width: 300px;
        margin: 20px;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Анимация появления отзывов */
    .review {
        margin-bottom: 15px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 0.5s;
    }

    .reviews:hover .review {
        opacity: 1;
        transform: translateY(0);
    }

    .about h3 {
        color: #333;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .about {
        background-color: #50463d;
        text-align: center;
        font-family: Arial, sans-serif;
        padding: 50px;
        /*overflow-y: auto;*/
        max-height: 400px;
        color: white;
    }

    .about-header {
        margin-bottom: 30px;
        /*overflow-y: auto;*/
    }

    .about-mission, .about-values, .about-team {
        margin-bottom: 30px;
    }

    .about h3 {
        color: #b19898;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .about ul {
        list-style: disc;
        padding-left: 20px;
    }

    .news-categories {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .category-btn {
        /* Стиль для кнопок категорий */
    }

    .news-list {
        /* Стиль для списка новостей */
    }

    .user-greeting {
        color: white;
        padding: 5px 10px; /* отступы для кнопки */
        border-radius: 5px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .user-greeting:hover {
        background-color: #44af1a; /* Красный */
        color: white;
    }



    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

</style>

<div class="navbar">
  <h1 class="header-title">AllArticles</h1>
  <div class="navbar-links">

    <%= form_with url: search_articles_path, method: :post, id: "search-form" do |form| %>
      <%= form.search_field :title_search, onkeypress: "if(event.keyCode == 13) this.form.requestSubmit()", style:"Width: 100%;" %>
    <% end %>
    <button type="submit" form="search-form">Найти</button>
<!--    <div id="search_results">-->
<!--      Search Results-->
<!--    </div>-->
<!--    <div id="articles">-->
      <%#  @articles.each do |article| %>
      <%#= render article %>
      <%# end %>
<!--    </div>-->

    <a href="#">Новые статьи</a>
    <% if current_user %>
      <%= link_to "Мои статьи", my_articles_articles_path %>
    <% else %>
      <a href="<%= new_user_session_path %>">Свои статьи</a>
    <% end %>
    <% if current_user %>
      <%#= image_tag(current_user.avatar_url) %>
      <%= link_to "Изменить аккаунт", edit_user_registration_path %>
      <div class="user-greeting">
        Привет, <%= current_user.full_name %>!
      </div>
    <% else %>
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Создать аккаунт", new_user_registration_path %>
    <% end %>
  </div>
</div>
<% if current_user %>
<%= button_to 'Новая статья', new_article_path, method: :get, class: 'btn btn-primary' %>
  <% else %>
  <%= button_to 'Новая статья', new_user_session_path, method: :get, class: 'btn btn-primary' %>
<% end %>
<div class="container">
  <section class="articles">
    <h2 class="article-section-title">Недавние статьи</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Автор</th>
<!--    <th>Content</th>-->
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td class="article-title"><%= article.title %></td>
      <td class="article-author"><%= article.author %></td>
<!--      <td><%#= article.content %></td>-->
      <% if current_user %>
      <td><%= button_to 'Показать', article_path(article), method: :get, class: 'btn btn-show' %></td>
        <% if current_user.full_name == article.author %>
      <td><%= button_to 'Изменить', edit_article_path(article), method: :get, class: 'btn btn-edit' %></td>
          <td><%= button_to 'Удалить', article_path(article), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-delete' %></td> <!-- "вы уверены?" пока не работает хз почему -->
          <% end %>
      <% else %>
        <td><%= button_to 'Показать', article_path(article), method: :get, class: 'btn btn-show' %></td>
      <% end %>
      <td>
        <!-- Модальное окно -->
          <div class="modal-content"><%= 'Оцените статью' %>
            <div class="rating-buttons">
              <% (1..5).each do |i| %>
                <%= button_to i, rate_article_path(article, score: i), method: :post, class: 'rating-button' %>
              <% end %>
            </div>
          </div>
      </td>
        <!-- рЭйтинг -->
      <td class="article-rating">
        <% (1..5).each do |i| %>
          <% if i <= article.average_rating.round %>
            <span class="star filled" data-value="<%= i %>">★</span> 
          <% else %>
            <span class="star" data-value="<%= i %>">☆</span>
          <% end %>
        <% end %>
        <div class="average-rating">Average Rating: <span id="average-rating-<%= article.id %>"><%= article.average_rating %></span></div>
      </td>
      <!-- рЭйтинг -->
    </tr>
  <% end %>
  </tbody>
</table>
</section>


  <section class="news-feed">
    <h2>Новости в мире</h2>
    <div class="news-list">
      <% @rss.items.each_with_index do |item, index| %>
        <% next if index >= 5 %>
        <article class="news">
          <a href="<%= item.link %>">
            <h3><%= item.title %></h3>
          </a>
          <p><%= item.description.truncate(100) %></p>
          <small><%= item.pubDate.strftime('%B %d, %Y') %></small>
        </article>
      <% end %>
    </div>
    <h2>Последние новости в мире литературы (англ.)</h2>
    <div class="news-categories">
      <button class="category-btn" data-category="all">Все</button>
      <button class="category-btn" data-category="classic">Классика</button>
      <button class="category-btn" data-category="modern">Современная проза</button>
      <button class="category-btn" data-category="sf">Научная фантастика</button>
    </div>
    <div class="news-list">
      <% @rsss.items.each_with_index do |item, index| %>
        <% next if index >= 5 %>
        <article class="news">
          <a href="<%= item.link %>">
            <h3><%= item.title %></h3>
          </a>
          <p><%= item.description.truncate(100) %></p>
          <small><%= item.pubDate.strftime('%B %d, %Y') %></small>
        </article>
      <% end %>
    </div>
  </section>
</div>


<section class="about">
  <div class="about-header">
    <h2>О нас</h2>
    <p>Мы создаем пространство для обмена знаниями и идеями.</p>
  </div>
  <div class="about-mission">
    <h3>Наша миссия</h3>
    <p>Наша цель — предоставить платформу для публикации качественных статей и объединить людей, интересующихся различными темами.</p>
  </div>
  <div class="about-values">
    <h3>Наши ценности</h3>
    <ul>
      <p><strong>Качество контента</strong>: Мы тщательно отбираем материалы.</p>
      <p><strong>Открытость</strong>: Мы стремимся к созданию открытого сообщества.</p>
      <p><strong>Разнообразие тем</strong>: У нас вы найдете статьи на любой вкус.</p>
    </ul>
  </div>
  <div class="about-team">
    <h3>Наша команда</h3>
    <p>Мы — команда увлеченных людей, объединенных общей целью.</p>
  </div>
  </section>

<section class="reviews">
  <h2><font face="Arial">Отзывы: </font></h2>
  <div class="review">
    <p>"Отличный сайт! надеюсь, его создатели получат зачёт по Ruby."</p>
    <p>- Иван Иванов</p>
  </div>
  <div class="review">
    <p>"Много интересных статей на любые темы."</p>
    <p>- Мария Петрова</p>
  </div>
  <div class="review">
    <p>"Крайне полезный сайт для времяпровождения в маршрутке или в очереди в поликлинику."</p>
    <p>- Сергей Сидоров</p>
  </div>
</section>

<footer>
  <div class="footer-container">
    <p>&copy; 2024 Все права защищены. Создано с любовью.</p>
    <nav>
      <ul>
        <!--<p><a href="#" style="color: white;">О нас</a></p>-->
        <p><a href="#" style="color: white;">Обратная связь</a></p>
        <p><a href="#" style="color: white;">Политика конфиденциальности</a></p>
      </ul>
    </nav>
    <!--<div class="social-media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>-->
  </div>
</footer>