<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #eaceb6;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    li {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .article-title {
        font-size: 20px;
        font-weight: bold;
    }

    .read-more-link {
        text-decoration: none;
        color: #337ab7;
    }

    .btn {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    .btn-secondary {
        background-color: #6c757d; /* Цвет для кнопки "Назад" */
        color: white;
    }

    .btn-secondary:hover {
        background-color: #5a6268; /* Цвет при наведении */
    }

    .btn-primary {
        background-color: #337ab7;
        color: #fff;
    }

    .buttons-container {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 20px;
    }

    .text {
        text-align: center;
    }

    .container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .article-author {
        font-size: 0.9em;
        color: gray;
    }

    .publication-date {
        font-size: 0.9em;
        color: gray;
        margin-left: 10px;
    }
</style>

<div class='container'>
<h1>Мои статьи</h1>

<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <h2 class="article-title">
          <%= link_to article.title, article_path(article) %>
        </h2>
        <p class="article-author">
          Автор: <%= article.author %>
          <span class="publication-date">
            <%= I18n.l(article.created_at, format: :default) if article.created_at %>
          </span>
        </p>
        <p>
          <%= truncate(article.content, length: 100) %>
          <%= link_to 'Читать далее', article_path(article), class: "read-more-link" %>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="text"><p>Вы пока ничего не публиковали...</p></div>
<% end %>

<div class="buttons-container">
  <%= link_to 'Создать новую статью', new_article_path, class: 'btn btn-primary' %>
  <%= link_to "Назад", root_path, class: "btn btn-secondary" %>
</div>
</div>
