<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #eaceb6;
        margin: 0;
        padding: 0;
    }
    article {
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        background: #f5f5f5;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    p {
        line-height: 1.5rem;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    a:hover {
        color: #666;
    }

    .buttons-container {
        display: flex;
        /* Изменение: Удаляем justify-content */
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 20px;
    }

    .btn {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-color: #337ab7;
        color: #fff;
    }

    .btn:hover {
        background-color: #0056b3;
        color: #fff;
    }

    .btn2 {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-color: #6c757d;
        color: #fff;
    }

    .btn2:hover {
        background-color: #5a6268;
        color: #fff;
    }
</style>

<article>
  <h1><%= @article.title %></h1>
  <p><i><%= @article.topic.name if @article.topic %></i></p>
  <p><%= @article.content %></p>

  <div class="buttons-container">
  <% if current_user %>
    <% if current_user.full_name == @article.author %>
      <%= link_to 'Изменить', edit_article_path(@article), class: 'btn' %>
    <% end %>
  <% end %>
  <%= link_to 'Назад', '/', class: 'btn2' %>
  </div>
</article>