<%= form_with(model: @group, url: group_path(@group), method: :patch, local: true) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name, "Полное имя группы" %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :description, "Описание" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :active, "Активна?" %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit "Обновить группу" %>
  </div>
<% end %>

<%= link_to 'Назад', groups_path %>
