<style>
    .login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .field {
        margin-bottom: 15px;
    }

    .field label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, .5);
    }

    .remember-me {
        display: flex;
        align-items: center;
    }

    .actions {
        text-align: center;
    }

    .btn {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-secondary {
        background-color: #6c757d; /* Цвет для кнопки "Назад" */
        color: white;
        margin-top: 10px; /* Отступ сверху для кнопки "Назад" */
    }

    .btn-secondary:hover {
        background-color: #5a6268; /* Цвет при наведении */
    }

    .links {
        text-align: center;
        margin-top: 20px;
    }

    .links a {
        color: #007bff;
    }

    .links a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
  <h2>Вход в аккаунт</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
    <div class="field">
      <%= f.label "Почта" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Пароль" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label "Запомнить меня" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Войти в аккаунт", class: "btn btn-primary" %>
      <%= link_to "Назад", root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>

</div>
